body {
    background-color: #1c1c1c;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

h1 {
    text-align: center;
}

#search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #555;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
}
